html, body {
    font-size: 16px;
}

header {
    font-family: 'Aboreto', serif;
}

.flex-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #021120;
    color: #E5E7E4;
}

.nav-bar {
    border-left: 1px solid #E5E7E4;
    height: 100%;
}

.flex-nav {
    height: 100%;
    display: flex;
}

.flex-nav li {
    display: flex;
    align-items: center;
    width: 110px;
    border-right: 1px solid #E5E7E4;
    font-size: 1.2rem;
    height: 100%;
}

.flex-nav a {
    width: 100%;
    text-align: center;
    color: #E5E7E4;
}

body {
    background-color: #F1F4F1;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.grid-head {
    grid-row: 1;
    grid-column: 1 / span 12;
}

.grid-main {
    grid-row: 2 / span 10;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.grid-foot {
    grid-row: 12;
    grid-column: 1 / span 12;
}

#header-name {
    margin-left: 2rem;
    font-size: 2rem;
}

#cosmic-photo {
    grid-row: 1 / span 12;
    grid-column: 1 / span 12;
    width: 100%;
    height: 100%;
}

#welcome {
    grid-row: 5 / span 3;
    grid-column: 2 / span 5;
    font-size: 4rem;
    color: #78FCF1;
    z-index: 3;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    justify-content: s;
}
#web-dev {
    grid-row: 7;
    grid-column: 4 / span 3;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    margin-top: .5rem;
    margin-left: 1rem;
    color: #FCB069;
    z-index: 3;
    
}

#welcome-box {
    grid-row: 5 / span 3;
    grid-column: 2 / span 5;
    background-color: black;
    opacity: 0.2;
    z-index: 2;
    border-radius: 15px;
}

#info-button {
    display: flex;
    grid-row: 9;
    grid-column: 3 /span 3;
    width: 55%;
    font-size: 1.5rem;
    background-color: #78FCF1;
    border:  2px solid #FCB069;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.flex-foot {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}
.grid-foot {
    border-top: 3px solid black;
    background-color: #021120;
}
#html-logo {
    height: 3rem;
    width: 3rem;
    background-color: #E5E7E4;
    padding: 5px;
    border-radius: 13px;
}

#css-logo {
    height: 3rem;
    width: 3rem;
    background-color: #E5E7E4;
    padding: 5px;
    border-radius: 13px;
}

#js-logo {
    height: 3rem;
    width: 3rem;
    background-color: #E5E7E4;
    padding: 5px;
    border-radius: 13px;
}

@media screen and (max-width: 1400px) {
    #welcome {
        font-size: 3.5rem;
    }

    #web-dev {
        font-size: 2.5rem;
    }
}